<form class="card" method="POST" action="/user/cart">
  <img
    src="{{product.image}}"
    class="card-img-top"
    alt="{{product.name}}"
    style="width:50%"
  />
  <div class="card-body" style="color: #2e2e2e; height: 250px">
    <h5 class="card-title">{{product.name}}</h5>
    <p class="card-text">{{product.description}}</p>
    <p class="card-text">{{product.price}}</p>
    <input
      style=" display:none"
      type="text"
      class="form-control"
      id="product_id"
      name="product_id"
      value="{{product.product_id}}"
    />
    <button class="btn btn-primary" type="submit"> Thêm giỏ</button>

  </div>
</form>